*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
.continer-header{
    display: flex;
    justify-content: space-between;
    background-color: #2d6a4f;
    padding: 10px;
}
.continer-header img{
    width: 120px;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
}
.continer-header h1{
    margin-top: 54px;
    font-size: 2em;
    color: #f18701;
    font-family: 'Josefin Sans', sans-serif;
}
.continer-header ul{
    margin-top: 54px;
    margin-right: 50px;
}
.continer-header li{
    display: inline;
    border-radius: 5px;
    background-color: #52b788;
    margin: 10px;
    padding: 10px;
}
.continer-header a{
    text-decoration: none;
}

.continer-caja{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.caja{
    background-color: #e9edc9;
    width: 300px;
    height: 290px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}
.caja img{
    width: 250px;
    padding: 10px 0;
}
.caja:hover{
    background-color: #ffe8d6;
    cursor: pointer;
}

/*footer*/
.copyright{
    height: 120px;
    background-color: #2d6a4f;
    color: #000;
    font-size: 13px;
    text-align: center;
}
.copyright p{
    font-size: 1.5em;
    padding: 55px 55px 0 55px;
    font-weight: bolder;
}