@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,100;1,200&display=swap');


/* Header */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.continer-header{
    display: flex;
    justify-content: space-between;
    background-color: #2d6a4f;
    padding: 10px;
}
.continer-header img{
    width: 120px;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
}
.continer-header h1{
    margin-top: 54px;
    font-size: 2em;
    color: #f18701;
    font-family: 'Josefin Sans', sans-serif;
}
.continer-header ul{
    margin-top: 54px;
    margin-right: 50px;
}
.continer-header li{
    display: inline;
    background-color: #52b788;
    margin: 10px;
    padding: 10px;
}
.continer-header a{
    text-decoration: none;
}



/* main */

    /* menu */
.continer-main{
    background-color: #95d5b2;
    height: 100vh;
    padding: 20px;
}
.continer-caja{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.caja{
    background-color: #e9edc9;
    width: 300px;
    height: 290px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}
.caja img{
    width: 250px;
    padding: 10px 0;
}
.caja:hover{
    background-color: #ffe8d6;
    cursor: pointer;
}
.continer-notificacion{
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 0;
}
.continer-notificacion img{
    display: block;
    width: 70px;
    margin: 5px auto;
}
.notificacion{
    padding: 5px 10px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: #e9edc9;
    text-align: center;
} 
    
#tabla-noti {
    border-collapse: collapse;
    width: 10%;
  }
  
  #tabla-noti th, #tabla-noti td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  #tabla-noti th {
    background-color: #f2f2f2;
  }
  
  #tabla-noti td {
    background-color: #ffffff;
  }
.notificacion p{
    font-weight: bold;
  }
.notificacion:hover{
    background-color: #ffe8d6;
    cursor: pointer;
}
    /* calendario */
.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container .container{
    width: 70%;
    height: 90%;
    background-color: #bdbdbd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}
.modal-container .modal-close{
    transform: translateY(-200%);
}
.cerrar{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c15757;
    color: #ccc;
    line-height: 25px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.cerrar:hover{
    background: #cc2626;
    color: #fff;
    border: 1px solid #000;
}
/* editando tabla */
.fc-daygrid-day-frame:hover{
    background-color: #dfdddd;
}

    /* menu inicio */
.continer-login{
    width: 100%;
    height: 85vh;
    /* margin: ; */
    display: flex;
    justify-content: space-evenly;
}
.login{
    text-align: center;
    width: 380px;
    height: 480px;
    margin: auto 0;
    background-color:#e9edc9;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.login:hover{
    width: 390px;
    height: 490px;
    background-color: #ffe8d6;
    font-size: 1.1em;
    transition: 400ms;
    box-shadow: 0 0 0 5px #2d6a4f;
}
.login img{
    width: 300px;
    margin: 20px auto;
}
.login a{
    text-decoration: none;
    background-color: #52b788;
    padding: 15px 20px;
    border-radius: 10px;
}
.login a:hover{
    background-color: #e9edc9;
    border: 2px solid #000;
    transition: 400ms;
}
.login :hover img{
    width: 310px;
    transition: 400ms;
    /* margin: 10px auto; */
}




/* footer */
.copyright{
    height: 120px;
    background-color: #2d6a4f;
    color: #000;
    font-size: 13px;
    text-align: center;
}
.copyright p{
    font-size: 1.5em;
    padding: 55px 55px 0 55px;
    font-weight: bolder;
}